body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("images/Background.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  display:grid;
  place-items:center;
}

h1 {
  font-size: 24px;
  margin: 20px;
  font-family: 'Creepster', cursive; 
  color: #ff6600; 
  text-shadow: 2px 2px 3px #000; 
  background: #000; 
  padding: 20px;
  border: 2px solid #ff6600; 
  border-radius: 10px; 
  text-align: center; 
}

#matchgamegrid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  margin: 20px;
  
}

.button {
  background-image: none;
  background-size: cover;
  background-position: center;
  background-color: #ff6600;
  border: 10px solid black; 
  border-radius: 10px; 
  padding: 10px 20px;
  width: 100px;
  height: 100px; 
}

.wrapper{
  font-size:30px;
  box-sizing: border-box;
  width:300px;
  padding:10px, 10px;
  background-color:orange;
  position: absolute;
  top:75%;
  right:-50;
  transform: translate(0, -50%);
  border-radius: 0.6em;
}
#reset{
  font-size:30px;
}